/*--CLASSES HTML---*/
.column-color{
    color: #fff;
    text-align: center;
    padding: 30px;
}
.classes-per-row:active{
    color: #fff;
}
.classes-per-row:hover{
    background: linear-gradient(45deg,#FF5370,#ff869a);
    color: #000;
}

.classes-per-row li:hover{
    color: #000;
}
.all-table-heads{
    text-align: center;
}

/*---CLASS BUTTON--*/
.class-add-btn-row{
    text-align: center;
    margin: 50px auto;
}

.classes-box{
    color: white;
}

.classes-main-heading{
    color: #DC3545;
}
.classes-heading{
    color: #DC3545;
    font-size: 1.2rem;
}


/*----SUBJECTS---*/
.subjects-per-row:hover{
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    color: #000;
}
