/*--CLASSES HTML---*/
.column-color{
    color: #fff;
    text-align: center;
    padding: 30px;
}
.classes-per-row:active{
    color: #fff;
}
.classes-per-row:hover{
    background: linear-gradient(45deg,#FF5370,#ff869a);
    color: #000;
}

.classes-per-row li:hover{
    color: #000;
}
.all-table-heads{
    text-align: center;
}

/*---CLASS BUTTON--*/
.class-add-btn-row{
    text-align: center;
    margin: 50px auto;
}

/*----COMMON CODE CSS TO ADD OR EDIT PAGES --*/
.all-add-edit-box{
    color: white;
}
/*----end----*/
.class-main-heading{
    color: #FF5370;
}
.class-heading{
    color: #ff869a;
    font-size: 1.2rem;
}


/*----SUBJECTS---*/
.subjects-per-row:hover{
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    color: #000;
}
/*---MODIFIED PART---*/

h1{
    text-align: center; 
    color: white;
    margin-top: 20px;
}

/*---SUBJECT--*/
.subject-heading{
    color: #FFB64D;
    font-size: 1.2rem;
}

.subject-main-heading{
    color: #ffcb80;
}
/*---EOMPLOYEE----*/
.employees-per-row:hover{
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.all-add-edit-row{
    margin-bottom: 30px;
}

.employee-heading{
    color: #59e0c5;
    font-size: 1.2rem;
}

.employee-main-heading{
    color: #2ed8b6;
}

/*---ROOMS---*/
.rooms-per-row:hover{
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.room-heading{
    color: #4099ff;
    font-size: 1.2rem;
}
.room-main-heading{
    color: #73b4ff;
}

/*---NAV ---*/

/*----SUBJECTS---*/
.subjects-per-row:hover{
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    color: #000;
}

/*---ALL TEXT COLOR----*/
/*---ROOM---*/
.text-room-color{
    color: #73b4ff !important;
  }
a.text-room-color, a.text-staff-color{
    color: #73b4ff !important;
}

/*----SUBJECT----*/
.text-subject-color{
    color: #ffcb80 !important;
  }
a.text-subject-color, a.text-subject-color{
    color: #ffcb80 !important;
}

/*----CLASS----*/
.text-class-color{
    color: #ff869a !important;
  }
a.text-class-color, a.text-class-color{
    color: #ff869a !important;
}

/*----EMPLOYEE---*/
.text-employee-color{
    color: #59e0c5 !important;
  }
a.text-employee-color, a.text-employee-color{
    color: #59e0c5 !important;
}

#p-specific-in-employee{
    color: #59e0c5;
}