{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <!-- <br/>
                    
                    <br/> -->
                    <h1 style="text-align: center;">Staff</h1>
                    {% if employees %}
                        <hr class="intro-divider">
                        <div class="table-responsive-lg">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr class="row all-table-heads">
                                        <th class="col-2 all-table-heads">Name </th>
                                        <th class="col-2 all-table-heads">Email</th>
                                        <th class="col-2 all-table-heads">Phone No.</th>
                                        <th class="col-2 all-table-heads">Type</th>
                                        <th class="col-1 all-table-heads">Workload (Hrs)</th>
                                        <th class="col-2 all-table-heads">Subjects (Class)</th>
                                        <th class="col-1 all-table-heads">Assign </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in employees %}
                                        {% if e.is_admin %}
                                            <tr class="row employees-per-row" class="table-info">
                                                <td class="col-2 column-color"> {{e.f_name}} {{e.l_name}}<i class="fa fa-key"></i></td>
                                                <td class="col-2 column-color"> {{e.email}}</td> 
                                                <td class="col-2 column-color"> {{e.ph_no}}</td>
                                                <td class="col-2 column-color" > {{e.type}}</td>
                                                <td class="col-1 column-color"> {{e.workload}}</td>
                                                <td class="col-2 column-color"> N/A</td>
                                                <td class="col-1 column-color"> N/A</td>
                                            </tr>
                                        {% else %}
                                            <tr class="row employees-per-row">
                                                <td class="col-2 column-color"> {{e.f_name}} {{e.l_name}}</td>
                                                <td class="col-2 column-color"> {{e.email}}</td>
                                                <td class="col-2 column-color"> {{e.ph_no}}</td>
                                                <td class="col-2 column-color"> {{e.type}}</td>
                                                <td class="col-1 column-color"> {{e.workload}}</td>
                                                <td class="col-2 column-color"> 
                                                    {% if e.subjects and e.classes %}
                                                        {% for s,c in zip(e.subjects, e.classes)%}
                                                            <li style="list-style-type: none;">{{s.sname}} ({{c.cid}})</li>
                                                        {% endfor %}
                                                    {% else %}    
                                                        
                                                    {% endif %}
                                                </td>
                                                <td class="col-1 column-color">
                                                    <a href="{{ url_for('admin.assign_employee', id=e.eid) }}">
                                                        <i class="fa fa-plus" style="color: black;"></i>
                                                    </a>
                                                </td>
                                                <!-- <td>
                                                    <a href="#">
                                                        <i class="fa fa-trash" style="color: black;"></i>
                                                    </a>
                                                </td> -->
                                            </tr>
                                        {% endif %}
                                    {% endfor%} 
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content%}