{% import "bootstrap/wtf.html" as wtf %}
{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> Assign Subjects and Class </h1>
            <br/>
            <p>
                Select a subject and class to assign to
                <span style="color: #aec251;">
                    {{ employee.f_name }} {{ employee.l_name }}
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}