
{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
    <div class="content-section">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body bg-dark classes-box">
                  {% if assign_subject==False and assign_room==False %}
                    {% if add_class%}
                        <h2 class="card-title text-center classes-main-heading">Add Class</h2>
                    {% else %}
                        <h2 class="card-title text-center">Edit Class</h2>
                    {% endif %}
                    <br/>
                    <form method="POST" action="">                     
                        {{form.hidden_tag()}}
                        <div class="form-group row">
                            <div class="col-2">{{ form.sem_sec.label(class="form-label classes-heading") }}</div>
                            
                            <div class="col-10">{{ form.sem_sec(class="form-control bg-dark text-danger") }}</div>
                        </div>
            
                        <div class="form-group row">
                            <div class="col-2">{{ form.strength.label(class="form-label classes-heading") }}</div>
                            <div class="col-10">{{ form.strength(class="form-control bg-dark text-danger") }}</div>
                            
                        </div>

                        <hr> 
                        <!-- submit button -->
                        <div class="class-add-btn-row">
                            {{ form.submit(class="btn btn-outline-info btn-lg class-btn text-uppercase font-weight-bold mb-2") }}
                        </div>
                    </form>
                  {% elif assign_subject %}
                    <h2 class="card-title text-center">Subjects</h2>
                    <br/>
                    <form method="POST" action="">                     
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ form.subjects.label(class="form-label") }}
                            {{ form.subjects(class="form-control") }}
                        </div>
                        <hr> 
                        <!-- submit button -->
                        <div class="class-add-btn-row">
                            {{ form.submit(class="btn btn-primary btn-lg class-add-btn-row text-uppercase font-weight-bold mb-2") }}
                        </div>
                    </form>
                  {% elif assign_room %}
                    <h2 class="card-title text-center">Room</h2>
                    <br/>
                    <form method="POST" action="">                     
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{ form.rooms.label(class="form-label") }}
                            {{ form.rooms(class="form-control") }}
                        </div>
                        <hr> 
                        <!-- submit button -->
                        {{ form.submit(class="btn btn-lg btn-outline-secondary text-uppercase font-weight-bold mb-2") }}
                    </form>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </div>
{%endblock content%}