{% import "bootstrap/wtf.html" as wtf %}
{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="center">
                        {% if add_room %}
                            <h1>Add Room</h1>
                        {% else %}
                            <h1>Edit Room</h1>
                        {% endif %}
                        <br/>
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}