
{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
    <div class="content-section">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body bg-dark classes-box">
                  {% if add_room %}
                    <h2 class="card-title text-center room-main-heading">Add Room</h2>
                  {% else %}
                    <h2 class="card-title text-center">Edit Room</h2>
                  {% endif %}
                  <br/>
                 
                  <form method="POST" action="">                     
                    {{form.hidden_tag()}}
                    <div class="form-group row">
                      <div class="col-2">{{ form.room.label(class="form-label room-heading") }}</div>
                        <div class=" col-10">  {{ form.room(class="form-control bg-dark text-primary") }}</div>
                    </div>
        
                    <div class="form-group row">
                      <div class="col-2">{{ form.capacity.label(class="form-label room-heading") }}</div>
                        <div class=" col-10">  {{ form.capacity(class="form-control bg-dark text-primary") }}</div>
                    </div>

                    <div class="form-group row">
                      <div class="col-2">{{ form.is_lab.label(class="form-label room-heading") }}</div>
                      <div class=" col-10">  {{ form.is_lab(class="bg-dark text-primary") }}</div>
                    </div>

                    <div class="form-group row">
                      <div class="col-2">{{ form.num_sys.label(class="form-label room-heading") }}</div>
                        <div class=" col-10">  {{ form.num_sys(class="form-control bg-dark text-primary") }}</div>
                    </div>
                    <hr> 
                    <!-- submit button -->
                    <div class="class-add-btn-row">
                      {{ form.submit(class="btn btn-outline-info btn-lg text-uppercase font-weight-bold mb-2") }}
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{%endblock content%}