{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
    <div class="content-section">
        <div class="outer">
            <div class="middle"> 
                <div class="inner">
                    <!-- <br/>
                    
                    <br/> -->
                    <h1>Rooms</h1>
                    {% if rooms %}
                        <hr class="intro-divider">
                        <div class="table-responsive-lg">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr class="row all-table-heads">
                                    <th class="col-2 all-table-heads"> Room </th>
                                    <th class="col-2 all-table-heads"> Capacity </th>
                                    <th class="col-2 all-table-heads"> Lab </th>
                                    <!-- <th scope="col"> Subject </th> -->
                                    <th class="col-2 all-table-heads"> Systems </th>
                                    <th class="col-2 all-table-heads"> Edit </th>
                                    <th class="col-2 all-table-heads"> Delete </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for r in rooms %}
                                    <tr class="row rooms-per-row">
                                        <td class="col-2 column-color"> {{ r.rno }}</td>
                                        <td class="col-2 column-color"> {{ r.capacity }}</td>
                                        <td class="col-2 column-color"> 
                                            {% if r.lab %}
                                                Yes
                                            {% else %}    
                                                No
                                            {% endif %}
                                        </td>
                                        <td class="col-2 column-color">
                                            {% if r.lab %}
                                                {{ r.no_of_sys }}
                                            {% else %}
                                                N/A 
                                            {% endif %}
                                        </td>
                                        <td class="col-2 column-color">
                                            <a href="{{ url_for('admin.edit_room', id=r.rno)}}">
                                            <i class="fa fa-edit" style="color:black;"></i>
                                            </a>
                                        </td>
                                        <td class="col-2 column-color">
                                            <a href="{{ url_for('admin.delete_room', id=r.rno)}}">
                                            <i class="fa fa-trash" style="color:black;"></i>
                                            </a>
                                        </td>
                                    </tr>   
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div style="text-align: center">
                            <h3> No rooms have been added. </h3>
                            <hr class="intro-divider">
                    {% endif %}
                    <div class="class-add-btn-row">
                        <a href="{{ url_for('admin.add_room') }}" class="btn btn-outline-info btn-lg">
                            <i class="fa fa-plus"></i>
                            Add Room
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}