{% extends "auth/base.html" %}
{%block content%}
    <h3 class="login-heading mb-4">Welcome back !</h3>
    <!-- {% with messages =  get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category}}">
                {{message}}
            </div>
        {% endfor %}
    {%  endif %}
    {% endwith %} -->
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <div class="form-label-group">
        {{ form.email.label(class="") }}
        {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid")}}
            <div class="invalid-form">
                {% for e in form.email.errors %}
                    <span>{{e}}</span>
                {% endfor %}
            </div>
        {% else %} 
        {{ form.email(class="form-control") }}
        {% endif %} 
      </div>

      <div class="form-label-group">
        {{ form.password.label(class="") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid")}}
            <div class="invalid-form">
                {% for e in form.password.errors %}
                    <span>{{e}}</span>
                {% endfor %}
            </div>
        {% else %} 
        {{ form.password(class="form-control") }}
        {% endif %}  
      </div>

      <div class="custom-control custom-checkbox mb-3">
        {{ form.remember(class="custom-control-input")}}
        {{ form.remember.label(class="custom-control-label")}}
      </div>

      <!-- submit button -->
      {{ form.submit(class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2") }}
  
      <div class="text-center">
        <a class="small" href="#">Forgot password?</a>
      </div>

    </form>
    </div>
    
    <div class="col-md-9 col-lg-8 mx-auto">
      <small class="text-muted">
        Dont Have An Account? <a class="ml-2" href="{{ url_for('auth.register') }}">Register</a>
      </small>
    </div>
{%endblock content%}

                    