{% extends "admin/layout.html" %}
{% block head %}
     <!-- Include components css file here -->
    <link type="text/css"  rel="stylesheet" 
    href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}
{%block content%}
<div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
           <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body bg-dark classes-box">
          <h2 class="card-title text-center text-info">My Account</h5>
          {% with messages =  get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category}}">
                      {{message}}
                  </div>
              {% endfor %}
          {%  endif %}
          {% endwith %}
          <form method="POST" action="">                     
            {{form.hidden_tag()}}
            <div class="form-label-group row all-add-edit-row">
               <div class="col-2"> {{ form.username.label(class="text-info") }}</div>
                {% if form.username.errors %}
                  {{ form.username(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.username.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
               <div class="col-10">{{ form.username(class="form-control bg-dark text-info") }}</div>
                {% endif %} 
            </div>

            <div class="form-label-group row all-add-edit-row">
                <div class="col-2"> {{ form.email.label(class="text-info") }}</div>
                {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.email.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
                <div class="col-10">{{ form.email(class="form-control bg-dark text-info") }}</div>
                {% endif %} 
            </div>

            <div class="form-label-group row all-add-edit-row">
                <div class="col-2"> {{ form.fname.label(class="text-info") }}</div>
                {% if form.fname.errors %}
                  {{ form.fname(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.fname.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
                <div class="col-2"> {{ form.fname(class="form-control bg-dark text-info") }}</div>
                {% endif %} 
            </div>

            <div class="form-label-group row all-add-edit-row">
                <div class="col-2"> {{ form.mname.label(class="text-info") }}</div>
                <div class="col-10"> {{ form.mname(class="form-control bg-dark text-info") }}</div>
            </div>

            <div class="form-label-group row all-add-edit-row">
                <div class="col-2"> {{ form.lname.label(class="text-info") }}</div>
                {% if form.lname.errors %}
                  {{ form.lname(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.lname.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
                <div class="col-10"> {{ form.lname(class="form-control bg-dark text-info") }}</div>
                {% endif %} 
            </div>

            <div class="form-label-group row all-add-edit-row">
                <div class="col-2"> {{ form.type.label(class="text-info") }}</div>
                <div class="col-10"> {{ form.type(class="form-control bg-dark text-info") }}</div>
            </div>

            <div class="form-label-group-small row all-add-edit-row">
                <div class="col-2"> {{ form.workload.label(class="text-info") }}</div>
                {% if form.workload.errors %}
                  {{ form.workload(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.workload.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
                <div class="col-10"> {{ form.workload(class="form-control bg-dark text-info",type="number") }}</div>
                {% endif %} 
            </div>

            <div class="form-label-group-small row all-add-edit-row">
                <div class="col-2"> {{ form.phno.label(class="text-info") }}</div>
                {% if form.phno.errors %}
                  {{ form.phno(class="form-control is-invalid")}}
                  <div class="invalid-form">
                      {% for e in form.phno.errors %}
                          <span>{{e}}</span>
                      {% endfor %}
                  </div>
                {% else %} 
                <div class="col-10"> {{ form.phno(class="form-control bg-dark text-info",type="tel") }}</div>
                {% endif %} 
            </div>
            <hr> 

            <!-- submit button -->
            <div class="class-add-btn-row"> 
                {{ form.submit(class="btn btn-lg btn-outline-info text-uppercase font-weight-bold mb-2") }}
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content%}