<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>App</title> 

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  
  <!-- Bootstrap core CSS -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
   integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/simple_sidebar.css') }}">
  {% block head %}		
  	<!-- any additional css   -->
	{% endblock %}
</head>

<body>
    <div class="d-flex bg-dark" id="wrapper">
  
      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><img src="/tt_scheduler/static/images/tt.png" alt=""> </div>
        <div class="list-group list-group-flush">
          <a href="{{url_for('admin.dashboard')}}" class="list-group-item list-group-item-action bg-dark text-info">Dashboard</a>
          <a href="{{url_for('admin.list_rooms')}}" class="list-group-item list-group-item-action bg-dark text-room-color">Rooms</a>
          <a href="{{url_for('admin.list_employees')}}" class="list-group-item list-group-item-action bg-dark text-employee-color">Staff</a>
          <a href="{{url_for('admin.list_subjects')}}" class="list-group-item list-group-item-action bg-dark text-subject-color">Subjects</a>
          <a href="{{url_for('admin.list_classes')}}" class="list-group-item list-group-item-action bg-dark text-class-color">Class</a>
          <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
  
      
      <div id="page-content-wrapper">
        <!-- Topbar -->
        <nav class="navbar navbar-expand-lg navbar-light text-light bg-dark border-bottom">
          <button class="btn btn-outline-info btn-lg"  id="menu-toggle">Menu</button>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-info nav-special-case" href="{{url_for('admin.show_profile')}}">My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-info nav-special-case" href="{{url_for('auth.logout')}}">Log Out</a>
              </li>
            </ul>
          </div>

        </nav>
        <!-- /#topbar-wrapper -->

        <!--page content-->
        <div class="container-fluid">
          
            {% block content%}{% endblock %}
        </div>
      <!-- /#page-content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
  
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
</body>
  
</html>
  